:root {
    --main-bg-color: #003366;
    --main-color: #ffffff;
    --main-hover-bg-color: #cc0000;
}

body {
	background-color: var(--main-bg-color); /* колір фона головної сторінки */
	background-image: url("img/noise_2.png"); /*установка текстури для фона */
}

.center {
	text-align: center;
}

input.hidden {
    display: none;
}

form, body {
	width: 173px;
}

a {
	text-decoration: none;
	margin: 0px;
}

h4, h5, h6 {
	margin: 0px;
	padding: 1px;
/*    Основний постійний колір шрифтів - білий*/
	color: var(--main-color); 
}

div:hover {
	background-color: var(--main-hover-bg-color);
}

input {
	display: block;
	margin: auto;
    outline: none;
    padding-left: 2px;
}

#length_power {
	width: 88px;
}

#resistorSearch {
    width: 88px;
}

/* Коментарій */